<aside class="sidebar" id="sidebar">
	<div class="overlay" id="close"></div>
	<div class="sidebar-content custom-scroll">
		<div class="head mb-3">
			<div class="icon" id="close">
	           <i class="fas fa-fw fa-arrow-left close"></i>
	        </div>
			<a href="#">StartUppers</a>
		</div>
		<div class="collapsible-items">
			<div class="items-wrapper">
				<span>Services <i class="fas fa-angle-down"></i></span>
				<ul>
					<li><a href="#">Konsultasi Bisnis</a></li>
					<li><a href="#">Cari Team</a></li>
					<li><a href="#">Cari Investor</a></li>
				</ul>
			</div>
		</div>
		<div class="collapsible-items">
			<div class="items-wrapper">
				<span>Services <i class="fas fa-angle-down"></i></span>
				<ul>
					<li><a href="#">Konsultasi Bisnis</a></li>
					<li><a href="#">Cari Team</a></li>
					<li><a href="#">Cari Investor</a></li>
				</ul>
			</div>
		</div>
	</div>
</aside>