<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Error 404 - Halaman tidak ditemukan</title>
  </head>
  <body>
    <h1>404 Halaman tidak ditemukan</h1>
    <a href="/">Kembali</a>
  </body>
</html>