<div class="container my-3">
	<h1 class="regular">Halaman Cari Team</h1>
	<p>Untuk mencari team, diharuskan untuk membuat grup terlebih dahulu. <a class="link-default" href="#">Buat Grup</a></p>
	
</div>